## Variadic Function

In [1]:
def add(x,y):
    '''
    Inputs Takes 2 inputs x and y
    Outputs: Returns one output that contains sum of x and y
    '''
    add_2 = x+y
    return add_2

In [2]:
op_xy = add(23,67)
print(f"Output of add function is{op_xy}")

Output of add function is90

In [3]:
def add(*args):
    for i in args:
        print(i)

In [4]:
add(23,45,67,43)

23
45
67
43

In [5]:
def add(*args):
    s = 0
    for i in args:
        s = s+i
        return s

In [6]:
sum_args = add(23,45,67,43)
print(sum_args)

23

In [7]:
sum_a1 = add(25)
print(sum_a1)

25

In [8]:
def multiply(x,*args):
    p = 1
    for i in args:
        p = p*i 
    return f"product performode by{x} is {p}"

In [9]:
m1 = multiply("sindhu",2,3,4,10)
m1

'product performode bysindhu is 240'

In [10]:
def multiply_2(x,*args):
    p= 1
    for i in args:
        p = p*1
    welcome =f"Welcome{x}"
    return f"{welcome} : product of the provided data is {p}"

In [11]:
m2 = multiply_2("sindhu",3,67,10,10)

In [13]:
m2

'Welcomesindhu : product of the provided data is 1'

## Scenario: I have list of data ready with me. i want to add a value to each list(append)
    emp_data_1 =[101,"Raman"]
    emp_data_2 =[102,"Suman"]

    These 2 employees are working for "IT" department.
    Write a Function that takes lists as input and appends
    department details to both the lists

In [20]:
def appenddata(dept,*lists):
    '''
    Takes multiple lists as inputs and appends dept data to each list
    '''
    for l in lists:
        l.append(dept)

In [21]:
emp_data_1 = [101,"Raman"]
emp_data_2 =[102,"Thaman"]

In [22]:
appenddata("IT",emp_data_1,emp_data_2)

In [23]:
emp_data_1

[101, 'Raman', 'IT']

In [25]:
emp_data_2

[102, 'Thaman', 'IT']

## Keyword arguments

In [26]:
def func1(**kwargs):
    print(type(kwargs))

In [27]:
func1(id=101)

<class 'dict'>

In [28]:
dct ={
    "id":101
}

In [29]:
type(dct)

dict

In [31]:
dct.keys()

dict_keys(['id'])

In [34]:
dct.values()

dict_values([101])

In [36]:
#key value pair
dct.items()

dict_items([('id', 101)])

In [37]:
def fun1(**kwargs):
    print(type(kwargs))
    print(kwargs.items())

In [39]:
func1(id=101,name="Raman",salary=35000)

<class 'dict'>

In [40]:
func1(id=202,name="Suman")

<class 'dict'>

In [41]:
emp_data_1

[101, 'Raman', 'IT']

In [42]:
emp_data_2

[102, 'Thaman', 'IT']

In [43]:
emp_data_3 = [103,"Suman","HR",35000,"Sumna@gmail.com"]

In [ ]:
def data_lengths(**kwargs):
    dct ={}
    for key,values in kwargs.items():
        dct[key] = len(value)
        return dct