## Class
    when function are defined inside of a class, we refer them as method
    Attributes : The inputs/parameters we provide inside of s class/__init__constructors

In [29]:
path = r"D:\DataFrames\50_Startups (2).csv"

In [30]:
import pandas as pd
df = pd.read_csv(path)
df.head()

         RND      ADMIN        MKT       STATE     PROFIT
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94

In [31]:
df.shape

(50, 5)

In [33]:
df.shape()

TypeError: 'tuple' object is not callable

In [34]:
df.columns

Index(['RND', 'ADMIN', 'MKT', 'STATE', 'PROFIT'], dtype='object')

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RND     50 non-null     float64
 1   ADMIN   50 non-null     float64
 2   MKT     50 non-null     float64
 3   STATE   50 non-null     object
 4   PROFIT  50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [54]:
def function_name(parameters):
    x = parameters+100
    return x

## Cerate a class person and define its attributess and methods

In [35]:
class person:
   ## Define instance attributes
    def __init__(self,name,age,occupation,stay):
        self.name = name
        self.age = age
        self.occupation = occupation
        self.stay = stay
    
    def talk(self):
        print(f"Hi, I am {self.name} and I am {self.age} years old")
        print(f"I live in {self.stay}")
        print(f"I work at {self.occupation}")
    
    def work(self,n):
        print(f"I am currently working at {self.occupation}.")
        print(f"It's been {n} years since am working at this company.")

In [36]:
p1 = person(name = 'Raman',age= 34,occupation='Data Analyst',stay='Pune')

In [37]:
p1.age

34

In [38]:
p1.name

'Raman'

In [39]:
p1.stay

'Pune'

In [40]:
p1.occupation

'Data Analyst'

In [41]:
p1.talk()

Hi, I am Raman and I am 34 years old
I live in Pune
I work at Data Analyst

In [42]:
p1.work(3)

I am currently working at Data Analyst.
It's been 3 years since am working at this company.

## Create a class bank that contains attributes like bank accountnumber,name,balance.Define different methods like withdrawal,deposit,transfer

In [67]:
class et1_bank:
    # define the instance attrbutes
    def __init__(self,account_number,account_name,balance):
        self.account_number = account_number
        self.account_name = account_name
        self.balance = balance

        # Create a method that performs withdrawal action
        def  withdrawal(self,amount):
            if amount < self.balance:
                self.balance = self.balance - amount
            return f"Amount Withdrawan is {amount}. Your updated balance is {self.balance}"
        
        # Create a method that deposits the amount provided by user 
        def deposite(self,deposit_amount):
            self.balance = self.balance + deposit_amount
            return f"Amount Deposited is {deposit_amount}. Your updated balance is {self.balance}"

# Create a method that transfers the amount provided by user to another acc
def transfer(self,tansfer_amount,acc_no):
    self.balace = self.balance - tansfer_amount
    return f"Amount bein g transferred is{tansfer_amount}.Your updated balance is {self.balance}.Amount transferrrd to{acc_no}"

In [68]:
cust1 = et1_bank(234223455,'Thaman',90000)

In [69]:
cust1.balance

90000

In [70]:
cust1.account_name

'Thaman'

In [71]:
cust1.withdrawal(5000)

AttributeError: 'et1_bank' object has no attribute 'withdrawal'

In [72]:
cust1.deposit(10000)

AttributeError: 'et1_bank' object has no attribute 'deposit'

In [52]:
cust1.transfer(8000,89567898)

AttributeError: 'et1_bank' object has no attribute 'transfer'

In [62]:
cust2 = etl_bank(9876980,'suman',34543)

NameError: name 'etl_bank' is not defined

In [64]:
cust2.account_name

NameError: name 'cust2' is not defined

In [65]:
cust1.account_name

'Thaman'

In [66]:
#etl_bank.

## Calss attributes

In [4]:
class student_preprimary:
    # define the class attributes
    sectiona = 40
    sectiona = 38
    class_teacher_a = "Priya"
    class_teacher_b = "Riya"

    def welcome():
        print(f"Welcome to this class")

In [6]:
student1 = student_preprimary()
student2 = student_preprimary()

In [7]:
student1.class_teacher_a

'Priya'

In [8]:
student2.class_teacher_b

'Riya'

In [10]:
student_preprimary.class_teacher_a

'Priya'

In [11]:
student_preprimary.class_teacher_b

'Riya'

In [12]:
student1.welcome()

TypeError: student_preprimary.welcome() takes 0 positional arguments but 1 was given

In [13]:
class student_preprimary:
    # define the class attributes
    sectiona = 40
    sectionb = 38
    class_teacher_a = "Priya"
    class_teacher_b = "Riya"

    @classmethod
    def welcome(cls):
        print(f"Welcome to this school.We have 2 sections {cls.sectiona} and {cls.sectionb}")

In [17]:
student3 = student_preprimary()

In [18]:
student3.sectiona

40

In [19]:
student3.welcome()

Welcome to this school.We have 2 sections 40 and 38

In [20]:
class cars:
    # define a class attribute
    greeting = "Welcome to our showroom. Please explore our car models"

    # define instance attributes
    def __init__(self,manufacturer,price):
        self.manufacturer = manufacturer
        self.price = price

    # write a method that takes the input from user and displays different models present
    def hyundai_model_info(self):
        return "We sell different models for this manufacturer like Grand i20, Grand i10"
    
    def maruti_model_info(self):
        return "We sell different models for this manufacturer like Nexa Baleno, Swift"
    
    @classmethod
    def welcome(cls):
        print(cls.greeting)

In [21]:
enquiry1 = cars('Hyundai',1500000)

In [22]:
cars.greeting

'Welcome to our showroom. Please explore our car models'

In [23]:
enquiry1.greeting

'Welcome to our showroom. Please explore our car models'

In [24]:
enquiry1.manufacturer

'Hyundai'

In [25]:
enquiry1.price

1500000

In [26]:
enquiry1.hyundai_model_info()

'We sell different models for this manufacturer like Grand i20, Grand i10'

In [27]:
enquiry1.maruti_model_info()

'We sell different models for this manufacturer like Nexa Baleno, Swift'

In [28]:
enquiry2 = cars('maruti',11000000)

In [29]:
enquiry2.greeting

'Welcome to our showroom. Please explore our car models'

In [30]:
enquiry2.welcome()

Welcome to our showroom. Please explore our car models

In [31]:
enquiry1.welcome()

Welcome to our showroom. Please explore our car models

In [32]:
enquiry1.manufacturer

'Hyundai'

In [33]:
enquiry2.manufacturer

'maruti'